---
layout: default
title: "About"
author: tiaz0128
permalink: /about
images:
  - /assets/img/about/001.webp
  - /assets/img/about/002.webp
  - /assets/img/about/003.webp
  - /assets/img/about/004.webp
  - /assets/img/about/005.webp
  - /assets/img/about/006.webp
  - /assets/img/about/007.webp
---

<div class="tags-header">
  <h1 class="tags-header-title">{{ page.title }}</h1>
  <div class="tags-header-line"></div>
</div>
<div class="small-wrapper">
  {% include component/about.html %}
  {% include component/sns.html %}

  {% include template/gallery.html alt='triply.kr' images=page.images %}
</div>
