<aside class="post-toc">
    <h2 class="toc-title">Table of Contents</h2>
    
    {% if page_en %}
    <div class="l l-ko">{% include component/toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=2 h_max=2 %}</div>
    <div class="l l-en l-ja l-zh l-es l-it l-fr">{% include component/toc.html html=page_en.content sanitize=true class="inline_toc" id="my_toc_en" h_min=2 h_max=2 %}</div>
    {% else %}
    {% include component/toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=2 h_max=2 %}
    {% endif %}
    
    <div class="post-tags">
        {% for tag in page.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag" target="_blank" aria-label="{{page.tags}}">{{ tag }}</a>
        {% endfor %}
    </div>
    
    <div class="banner-container">
        <div class="community-banner">
          <a href="https://discord.com/invite/wg7Rytx5fK" class="community-link" target="_blank" rel="noopener noreferrer">
            <div class="community-icon">
              <span class="logos--discord-icon"></span>
            </div>
            <span class="link-label">Discord</span>
          </a>
          <a href="https://www.facebook.com/groups/373189689430865" class="community-link" target="_blank" rel="noopener noreferrer">
            <div class="community-icon">
              <span class="logos--facebook"></span>
            </div>
            <span class="link-label">Facebook</span>
          </a>
        </div>
        <p class="python-kr"><span>◁</span> {% include component/tr.html ko="파이썬 한국 사용자 모임" en="Python Korea User Group" %} <span>▷</span></p>
    </div>

    <!-- 광고 자리 -->
</aside>