<aside class="post-toc">
    <h2 class="toc-title">Table of Contents</h2>
    
    {% include component/toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=2 h_max=2 %}
    
    <div class="post-tags">
        {% for tag in page.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag" target="_blank" aria-label="{{page.tags}}">{{ tag }}</a>
        {% endfor %}
    </div>
    
    <div class="banner-container">
      <div class="x-banner">
          <a href="https://discord.com/invite/wg7Rytx5fK?fbclid=IwY2xjawJPA2xleHRuA2FlbQIxMQABHe5sqbvb1F9B0m-crcwDeNKMyWCfYWRjGE0EckOeMJSYnuspRiYlJZHPrg_aem_v8yHjgAgReFMulvebPBnBg" target="_blank">
              <img src="/assets/img/pykr.webp" alt="Python Korea Discord" title="Python Korea Discord">
              <p>파이썬 한국 사용자 모임</p>
          </a>
      </div>
      <div class="x-banner">
          <a href="https://2025.pycon.kr/" target="_blank">
              <img src="/assets/img/pykr.webp" alt="Python Korea Facebook" title="Python Korea Facebook">
              <p>파이썬 한국 사용자 모임</p>
          </a>
        </div>
    </div>
</aside>