<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo locale=false%}
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="ko_KR">

  {% if page.img %}
  <meta property="og:image" content={{ page.img }} />
  <meta name="twitter:image" content={{ page.img }} />
  {% else %}
  <meta property="og:image" content={{ site.author.pic }} />
  <meta name="twitter:image" content={{ site.author.pic }} />
  {% endif %}
  <meta property="og:image:alt" content="Eat Sleep Coding. Never Never Giveup." />

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

  <!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700">
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon-16x16.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">
  
  <!-- Naver -->
  <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
  <script type="text/javascript">
  if(!wcs_add) var wcs_add = {};
  wcs_add["wa"] = "71cddaf110ea50";
  if(window.wcs) {
    wcs_do();
  }
  </script>
  
  <!-- RSS -->
  {% feed_meta %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-94YE1WFEE7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-94YE1WFEE7');
  </script>
</head>
