<section class="about-body">
    <ul class="contact-list">
    {% if site.email %}
      <li class="email"><a href="mailto:{{site.email}}"><i class="far fa-envelope"></i></a></li>
    {% else %}
      <li class="email"><a href="mailto:tiaz0128.dev@gmail.com"><i class="far fa-envelope" aria-hidden="true"></i></a></li>
    {% endif %}

    {% if site.website %}
      <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
    {% else %}
      <li class="website"><a href="https://tiaz0128.github.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
    {% endif %}

    {% if site.instagram %}
      <li class="instagram"><a href="http://instagram.com/{{site.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
    {% else %}
      <li class="instagram"><a href="http://instagram.com/tiaz.dev" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
    {% endif %}

    {% if site.github %}
      <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fab fa-github"></i></a></li>
    {% else %}
      <li class="github"><a href="http://github.com/tiaz0128" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>
    {% endif %}

    {% if site.linkedin %}
      <li class="linkedin"><a href="http://linkedin.com/in/{{site.github}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    {% else %}
      <li class="linkedin"><a href="http://linkedin.com/in/tiaz0128" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
    {% endif %}
   </ul>
</section>