.post-author {
    .about-container{
        margin: 0;
    }

    .about-header{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
        padding-bottom: 10px;

        // &::after {
        //     content: none;
        // }

        .author-image-container{
            margin-right: 30px;
            margin-bottom: 0;
            margin-left: 0;
            border-radius: 0;

            img {
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 600px) {
    .post-author .about-header {
        flex-direction: column;
        align-items: center;

        .author-image-container{
            margin-right: 0;
            margin-bottom: 30px;

            width: 100px;
            height: 100px;
        }
    }
}
