.post-author {
    .about-container {
        margin: 0;
    }

    i {
        font-size: 18px;
    }

    .about-header {
        display: flex;
        margin-bottom: 10px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 14px;

        .author-image-container {
            margin-right: 30px;
            margin-bottom: 0;
            margin-left: 0;
            border-radius: 0;

            width: 100px;
            height: 100px;

            img {
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 600px) {
    .post-author .about-header {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .author-image-container {
            margin-right: 0;
            margin-bottom: 30px;

            width: 100px;
            height: 100px;
        }
    }
}