pre,
code {
  font-family: $monospaced;
}

code {
  background-color: $grey-3;
  border-radius: 3px;
  color: $green;
  font-size: 85%;
  padding: .25em .5em;

  span {
    line-height: 1.5;
  }

  &.language-plaintext{
    font-family: ui-sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,"Apple Color Emoji",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
  }

  &.path {
    background-color: $code-path;
    color: $black;
    font-weight: 600;
    font-family: ui-sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,"Apple Color Emoji",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
  }
  
  &.branch {
    color: $orange;
  }
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 85%;
  padding: 0;
  line-height: normal;
}

.highlight {
  position: relative;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 3px;
  line-height: normal;
  margin: 0 0 1rem;
  padding: 1rem;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    color: $default-tint;
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 .75rem 0 .25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}

/* 스크롤바 스타일링 */
.highlight pre::-webkit-scrollbar {
  height: 8px;
}

.highlight pre::-webkit-scrollbar-track {
  background-color: transparent;
}

.highlight pre::-webkit-scrollbar-thumb {
  background-color: rgba(110, 118, 129, 0.4);
  border-radius: 4px;
}

.highlight pre::-webkit-scrollbar-thumb:hover {
  background-color: rgba(110, 118, 129, 0.7);
}


/* mjx-container 수식 컴포넌트 스타일링 */
mjx-container {
  overflow-y: hidden;
}

mjx-container::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

mjx-container::-webkit-scrollbar-track {
  background-color: transparent;
}

mjx-container::-webkit-scrollbar-thumb {
  background-color: rgba(110, 118, 129, 0.4);
  border-radius: 4px;
}

mjx-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(110, 118, 129, 0.7);
}

mjx-container *::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

mjx-container *::-webkit-scrollbar-track {
  background-color: transparent;
}

mjx-container *::-webkit-scrollbar-thumb {
  background-color: rgba(110, 118, 129, 0.4);
  border-radius: 4px;
}

mjx-container *::-webkit-scrollbar-thumb:hover {
  background-color: rgba(110, 118, 129, 0.7);
}