.pagination {
  border-top: .5px solid $grey-2;
  font-family: $serif-primary;
  padding-top: 2rem;
  position: relative;
  text-align: center;

  #pageInput::-webkit-outer-spin-button,
  #pageInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  span {
    color: $default-shade;
    font-size: 1.1rem;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.1rem;
    opacity: .6;

    &:hover {
      opacity: 1;
      color: $blue;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $default-color;
    position: absolute;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
      color: $blue;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  input {
    width: 4rem;
    font-size: 1.1rem;
    text-align: center;
    height: 3rem;
    border: none;
    padding-right: 5px;
    padding-bottom: 5px;
    outline: none;
    background-color: $default-bg;
    color: $default-color;
    box-shadow: 
      inset -1px -1px 3px rgba(255,255,255,0.1),
      inset 1px 1px 14px rgba(0,0,0,0.5);
  }
}
