// Colors
$default-color: rgba(255, 255, 255, 0.81) !default;
$default-shade: rgba(255, 255, 255, 0.81) !default;
$default-tint: #aaa !default;
$shadow-color: rgba(0, 0, 0, .2) !default;
$default-bg: rgb(25, 25, 25);
$grey-1: #979797 !default;
$grey-2: rgba(255,255,255,0.07) !default;
$grey-3: rgb(63, 68, 71) !default;
$white: #fff !default;
$black: #191919 !default;
$blue: #4a9ae1 !default;
$orange: #ed9d13;
$yellow: #FFD700;
$back-color: #2a3844;

// Fonts
$serif-primary: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;
$serif-secondary: Ubuntu !default;
$sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default;
$monospaced: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
