---
layout: default
---

<div class="tags-header">
    <h2 class="tags-header-title">{{ page.title }}</h2>
    <div class="tags-header-line"></div>
</div>

<div class="catalogue" style="padding-top:0">
    {% for post in site.posts %}
    {% if page.title == post.catalogue %}
    <div class="catalogue-tags">
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y-%m-%d" }}</time>
    </div>
    <div class="catalogue-container">
        <a href="{{site.baseurl}}/category/{{post.catalogue}}" class="tag">
            <img src="{{site.baseurl}}/assets/img/title/{{post.subject}}.png" />
        </a>

        <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
            <div>
                <h1 class="catalogue-title">{{ post.title }}</h1>
                <div class="catalogue-line"></div>
                <p>
                    {{ post.excerpt }}
                </p>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>