---
layout: default
---

<div class="catalogue">
    {% for post in paginator.posts %}
    <div class="catalogue-tags">
        <span class="small-tag">
            <a href="{{site.baseurl}}/category/{{post.catalogue}}" class="tag">
                {{post.catalogue}}
            </a>    
        </span>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y-%m-%d" }}</time>
    </div>
    <div class="catalogue-container">
        <a href="{{site.baseurl}}/category/{{post.catalogue}}" class="tag">
            {% if post.catalogue == 'book'%}
            <div class="img-book-container">
                <img src="{{site.baseurl}}/assets/img/title/{{post.catalogue}}/{{post.subject}}.png" />
            </div>
            {% else %}
            <div class="img-container">
                <img src="{{site.baseurl}}/assets/img/title/{{post.catalogue}}/{{post.subject}}.png" />
            </div>
            {% endif %}
        </a>

        <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
            <div>
                <h1 class="catalogue-title">{{ post.title }}</h1>
                <div class="catalogue-line"></div>
                <p class="catalogue-excerpt">
                    {{ post.excerpt }}
                </p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;&nbsp;&nbsp;prev</a>
    {% endif %}
    
    <input id="pageInput" min="1" max="{{ paginator.total_pages }}" value="{{ paginator.page }}">

    <span> / {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">next&nbsp;&nbsp;&#8594;</a>
    {% endif %}
</div>

<script>
    document.getElementById('pageInput').addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevent form submission
            goToPage();
        }
    });

    function goToPage() {
        var pageInput = document.getElementById('pageInput');
        var pageNumber = parseInt(pageInput.value);
        var totalPages = {{ paginator.total_pages }};
        
        if (pageNumber >= 1 && pageNumber <= totalPages) {
            var baseUrl = '{{ site.baseurl }}';
            if (pageNumber === 1) {
                window.location.href = baseUrl + '/';
            } else {
                window.location.href = baseUrl + '/page' + pageNumber + '/';
            }
        } else {
            alert('유효한 페이지를 입력해주세요! 1 페이지 ~ ' + totalPages);
            pageInput.value = {{ paginator.page }}; // Reset to current page
        }
    }
</script>
