---
layout: default
---

<div class="category">
    {% for post in paginator.posts %}
    <div class="category-tags">
        <span class="small-tag">
            <a href="{{site.baseurl}}/category/{{post.category}}" class="tag">
                {{post.category}}
            </a>    
        </span>
        <time datetime="{{ post.date }}" class="category-time">{{ post.date | date: "%Y-%m-%d" }}</time>
    </div>
    <div class="category-container">
        <a href="{{site.baseurl}}/category/{{post.category}}" class="tag">
            {% if post.category == 'book'%}
            <div class="img-book-container">
                <img src="{{site.baseurl}}/assets/img/title/{{post.category}}/{{post.subject}}.png" />
            </div>
            {% else %}
            <div class="img-container">
                <img src="{{site.baseurl}}/assets/img/title/{{post.category}}/{{post.subject}}.png" />
            </div>
            {% endif %}
        </a>

        <a href="{{ post.url | prepend: site.baseurl }}" class="category-item">
            <div>
                <h1 class="category-title">{{ post.title }}</h1>
                <div class="category-line"></div>
                <p class="category-description">
                    {{ post.description }}
                </p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;&nbsp;&nbsp;prev</a>
    {% endif %}
    
    <input id="pageInput" type="number" value="{{ paginator.page }}">

    <span> / {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">next&nbsp;&nbsp;&#8594;</a>
    {% endif %}
</div>

{% include script/page_input.html %}
