---
layout: default
---

<div class="post">
  <div class="post-info">
    <div class="category-tags">
      {% for tag in page.tags %}
      <a href="{{site.baseurl}}/tags#{{tag}}" class="tag" target="_blank">{{ tag }}</a>
      {% endfor %}
    </div>
    {% if page.date %}
      <time datetime="{{ page.date }}">{{ page.date | date: "%Y-%m-%d" }}</time>
    {% endif %}
  </div>
  
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-subtile">{{ page.subtitle }}</p>
  <div class="post-writer">
    <span>written by</span>
    <img src="/assets/img/tiaz.jpg" alt="{{page.author}}" title="📖 {{ page.author }}">
  </div>
  
    {{ content }}

</div>


<div class="post-tags">
  <svg
      class="tags-item-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-tag"
    >
    <path
      d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"
    ></path>
    <line x1="7" y1="7" x2="7.01" y2="7"></line>
  </svg>
  {% for tag in page.tags %}
  <a href="{{site.baseurl}}/tags#{{tag}}" class="tag" target="_blank">{{ tag }}</a>
  {% endfor %}
</div>

<hr/>

<div class="post-author">
  {% include about.html %}
  {% include sns.html %}
</div>

{% include aside.html %}

<hr/>

{% include utteranc.html %}

{% include mermaid.html %}

{% include mathjax.html %}
