---
layout: default
---

<div class="post">
  <div class="post-info">
    <div class="category-tags">
      {% for tag in page.tags %}
      <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}</a>
      {% endfor %}
    </div>
    {% if page.date %}
      <time datetime="{{ page.date }}">{{ page.date | date: "%Y-%m-%d" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>

    {{ content }}

</div>


<div class="post-tags" style="text-align: left;">
  <svg
      class="tags-item-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-tag"
    >
    <path
      d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"
    ></path>
    <line x1="7" y1="7" x2="7.01" y2="7"></line>
  </svg>
  {% for tag in page.tags %}
  <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}</a>
  {% endfor %}
</div>

<aside class="post-toc">
  <h2>Table of Contents</h2>
  {% include toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=2 h_max=2 %}
</aside>

<script src="https://utteranc.es/client.js"
repo="tiaz0128/blog-comments"
issue-term="pathname"
theme="photon-dark"
crossorigin="anonymous"
async>
</script>

<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
// mermaid configuration

mermaid.initialize({
  startOnLoad:true, 
  sequence: { showSequenceNumbers: false }, 
  themeVariables: {
    primaryColor: "#2a3844",
    primaryTextColor: "#fff",
    primaryBorderColor: "#fff",
    tertiaryColor: "#fff"
  }
});

mermaid.registerIconPacks([
  {
    name: 'logos',
    loader: () =>
      fetch('https://unpkg.com/@iconify-json/logos/icons.json').then((res) => res.json()),
  },
  {
    name: 'azure',
    loader: () =>
    fetch('https://unpkg.com/azureiconkento@1.1.1/azureicons/allicons.json').then((res) => res.json()),
  },
  {
    name: 'custom',
    loader: () =>
    fetch('/assets/json/icons.json').then((res) => res.json()),
  },
]);

</script>
